{% extends 'base.html.twig' %}

{% block title %}Patient Portal – Forgot Password | Rehab.com{% endblock %}

{% block stylesheets %}
    {# CSS variables relative to the variation #}
    <style>
        :root {
        {# --mobile-gradient-height: 353px; #}
        }
    </style>
{% endblock %}

{% block header_scripts %}
    {# Reset. #}
{% endblock %}

{% block footer %}
    <span class="patient-portal__copyright">&copy; {{ 'now' | date('Y') }} Rehab.com</span>
{% endblock %}

{% block javascripts %}
    {# Reset. #}
{% endblock %}