$meet-advisor-thumbnail-desktop: 120px;
$meet-advisor-thumbnail-mobile: ceil( ($meet-advisor-thumbnail-desktop / 1.72) + 2 );

.advisor {
	display: grid;
	grid-area: advisor-card;
	width: 100%;

	@include media-breakpoint-down($pp-main-breakpoint) {
		grid-gap: 10px;
		grid-template-areas: "thumbnail title" "description description";
		grid-template-columns: $meet-advisor-thumbnail-mobile 1fr;
		grid-template-rows: repeat(2, auto);
		width: 100%;
	}
	@include media-breakpoint-up($pp-main-breakpoint) {
		grid-template-areas: "thumbnail title" "thumbnail description";
		grid-template-rows: 2fr;
		grid-gap: 15px;
		grid-template-columns: $meet-advisor-thumbnail-desktop 1fr;
	}

	&__column {
		&:first-of-type {
			flex-shrink: 0;
		}

		&:last-of-type {
			flex-shrink: 1;
		}
	}

	&__thumbnail {
		grid-area: thumbnail;
		height: 100%;

		@include media-breakpoint-down($pp-main-breakpoint) {
			width: $meet-advisor-thumbnail-mobile;
		}
		@include media-breakpoint-up($pp-main-breakpoint) {
			width: $meet-advisor-thumbnail-desktop;
		}
	}

	&__photograph {
		background-color: $pp-body-background;
		border: 1px solid $pp-grey-light;
		border-radius: 50%;
		width: 100%;

		@include media-breakpoint-down($pp-main-breakpoint) {
			height: ceil( ($meet-advisor-thumbnail-desktop / 1.72) );
			width: ceil( ($meet-advisor-thumbnail-desktop / 1.72) );
		}
		@include media-breakpoint-up($pp-main-breakpoint) {
			min-height: ($meet-advisor-thumbnail-desktop / 2);
			min-width: ($meet-advisor-thumbnail-desktop / 2);
			max-width: $meet-advisor-thumbnail-desktop;
		}
	}

	&__title {
		grid-area: title;
		font-weight: $font-weight-medium;
		width: 100%;

		@include media-breakpoint-down($pp-main-breakpoint) {
			font-size: 18px;
			line-height: 28px;
			margin: 8px 0 0;
		}
		@include media-breakpoint-up($pp-main-breakpoint) {
			font-size: 24px;
			line-height: 32px;
			margin: 5px 0 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;

		@include media-breakpoint-down($pp-main-breakpoint) {
			grid-column: span 2;
		}
		@include media-breakpoint-up($pp-main-breakpoint) {
			grid-area: description;
		}
	}

	&__description {
		font-weight: $font-weight-light;
		margin: 0;

		@include media-breakpoint-down($pp-main-breakpoint) {
			grid-area: description;
			font-size: 15px;
			line-height: 24px;
		}
		@include media-breakpoint-up($pp-main-breakpoint) {
			grid-area: information;
			font-size: 16px;
			line-height: 26px;
		}
	}

	&__ctas {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 25px;
		width: 100%;
	}

	&__cta {
		width: auto;

		@include media-breakpoint-up($pp-main-breakpoint) {
			min-width: 90px;
		}

		// Starting at the second instance...
		&:nth-of-type(n+2) {
			margin-left: $pp-button-group-spacer;
		}
	}
}
